<p-blockUI [blocked]="block"></p-blockUI>
<div class="card card-panel mb-2">
    <div class="card-header d-sm-flex justify-content-between">
      <h5>
        <small class="ml-3">Registro de Ficha Retornante</small>
      </h5>
      <ul class="d-flex mb-0 pl-0">
        <li class="">
          <a href="#" class="mx-1 p-1 btn-collapse">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body" style="">
      <form>
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-10">
            <hr>
            <h4>
              <small class="ml-3">Datos Principales
            </small></h4><small class="ml-3">
            <div class="form-group row">
              <label for="exampleFormControlSelect1" class="col-sm-2 ol-form-label text-sm-right">Tipo de Documento</label>
              <div class="col-sm-3">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>DNI</option>
                  <option>CE</option>
                </select>
              </div>
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Nro. Documento</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Nombres</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="cboGenero" class="col-sm-2 ol-form-label text-sm-right">Genero</label>
              <div class="col-sm-2">
                <select class="form-control" id="cboGenero">
                  <option>Masculino</option>
                  <option>Femenino</option>
                </select>
              </div>
              <label for="cboEstadoCivil" class="col-sm-1 ol-form-label text-sm-right">Estado Civil</label>
              <div class="col-sm-2">
                <select class="form-control" id="cboEstadoCivil">
                  <option>Soltero</option>
                  <option>Casado</option>
                </select>
              </div>
              <label for="cboEstadoCivil" class="col-sm-1 ol-form-label text-sm-right">Discapacidad</label>
              <div class="col-sm-2">
                <label class="custom-control custom-radio">
                  <input id="radio1" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">SI</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radio2" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">NO</span>
                </label>
              </div>
            </div>
            <div class="form-group row">

              <label for="cboEstadoCivil" class="col-sm-2 ol-form-label text-sm-right">Nacionalidad</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Pais de Nacimiento</label>
              <div class="col-sm-2">
                <select class="form-control" id="cboPaisNacimiento">
                  <option>Peru</option>
                </select>
              </div>
              <label for="cboEstadoCivil" class="col-sm-1 ol-form-label text-sm-right">Fecha Nacimiento</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Pais de Residencia</label>
              <div class="col-sm-2">
                <select class="form-control" id="cboPaisNacimiento">
                  <option></option>
                </select>
              </div>
              <label for="cboEstadoCivil" class="col-sm-1 ol-form-label text-sm-right">Jefe de Hogar</label>
              <div class="col-sm-2">
                <label class="custom-control custom-radio">
                  <input id="radio1" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">SI</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radio2" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">NO</span>
                </label>
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Edad</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label  text-sm-right">Correo electronico</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <hr>
            <h4>
              <small class="ml-3">Nivel Educativo
            </small></h4><small class="ml-3">
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Maximo Grado de Instrucción</label>
              <div class="col-sm-2">
                <select class="form-control" id="cboPaisNacimiento">
                  <option></option>
                </select>
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Profesión</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Maximo Grado en el extranjero</label>
              <div class="col-sm-2">
                <select class="form-control" id="cboPaisNacimiento">
                  <option></option>
                </select>
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Profesión</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <hr>
            <h4>
              <small class="ml-3">Experiencia Laboral
            </small></h4><small class="ml-3">
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Ultima ocupacion en el Perú</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Fecha Inicio</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Fecha Fin</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Ultima ocupacion en el Extranjero</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Fecha Inicio</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
              <label for="inpNombre" class="col-sm-1 col-form-label text-sm-right">Fecha Fin</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>

            <hr>
            <h4>
              <small class="ml-3">Retorno al Perú
            </small></h4><small class="ml-3">
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Departamento de Retorno (Opcion 1)</label>
              <div class="col-sm-3">
                <select class="form-control" id="cboPaisNacimiento">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Departamento de Retorno (Opcion 2)</label>
              <div class="col-sm-3">
                <select class="form-control" id="cboPaisNacimiento">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Fecha de Salida del Perú</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
              <label for="inpNombre" class="col-sm-2 col-form-label text-sm-right">Fecha Probable de Retorno</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="inpNombre" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="cboEstadoCivil" class="col-sm-2 ol-form-label text-sm-right">Retorno con Familia</label>
              <div class="col-sm-2">
                <label class="custom-control custom-radio">
                  <input id="radio1" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">SI</span>
                </label>
                <label class="custom-control custom-radio">
                  <input id="radio2" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">NO</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-9">
                <table class="table" style="font-size: 14px" id="">
                  <thead>
                    <tr>
                      <th>Vinculo</th>
                      <th>Nacionalidad</th>
                      <th>Genero</th>
                      <th>Edad</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <select class="form-control" id="cboPaisNacimiento">
                          <option>Seleccione</option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control" id="cboPaisNacimiento">
                          <option>Seleccione</option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control" id="cboPaisNacimiento">
                          <option>Seleccione</option>
                        </select>
                      </td>
                      <td>
                        <input type="number" class="form-control" placeholder="Edad">
                      </td>
                      <td>
                        <button>Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-success">Agregar</button>
              </div>
            </div>
            <hr>
            <h4>
              <small class="ml-3">Informacion Laboral
            </small></h4><small class="ml-3">
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-3 col-form-label text-sm-right">Salario minimo que aspira ganar en el Perú</label>
              <div class="col-sm-3">
                <select class="form-control" id="cboPaisNacimiento">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-3 col-form-label text-sm-right">En que ocupaciones considera podria desempeñarse 1.</label>
              <div class="col-sm-4">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-3 col-form-label text-sm-right"> 2.</label>
              <div class="col-sm-4">
                <input type="text" class="form-control">
              </div>
            </div>
            <hr>
            <h4>
              <small class="ml-3">Situacion ocupacional actual
            </small></h4><small class="ml-3">
            <div class="form-group row">
              <label for="inpNombre" class="col-sm-3 col-form-label text-sm-right">hace Cuanto tiempo esta desempleado</label>
              <div class="col-sm-3">
                <select class="form-control" id="cboPaisNacimiento">
                  <option></option>
                </select>
              </div>
            </div>


          </small></small></small></small></small></small></div><small class="ml-3"><small class="ml-3"><small class="ml-3">
        </small></small></small></div><small class="ml-3"><small class="ml-3"><small class="ml-3">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <div class="card-footer text-center" style="">
              <button class="btn mx-1 btn-success" type="submit">Grabar</button>
            </div>
          </div>
        </div>
      
    </small></small></small></form></div><small class="ml-3"><small class="ml-3"><small class="ml-3">
  </small></small></small></div>